.dashboard-container {
  min-height: 90vh;
  /* background-color: #2C5530; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dashboard-card {
  max-width: 80%;
  width: 100%;
  height: auto;
  min-height: 700px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr; /* Creates a single column layout */
  grid-auto-rows: auto; /* Automatically sizes rows based on content */
  gap: 16px;
  margin-bottom: 20px;
  font-size: 20px;
}

.dashboard-box {
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: auto;
  width: auto;
  margin-bottom: 16px; /* Add margin between boxes */
}
.dashboard-box.single {
  margin-bottom: 20px;
  height: auto;
}

.dashboard-single {
  display: flex;
  align-items: center;
}

h2.dashboard-heading {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
  margin-bottom: 8px;
}

.dashboard-text {
  font-size: 14px;
  color: #666666;
}

.dashboard-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #3c443d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: fit-content;
  width: 120px;
}

.dashboard-button:hover {
  background-color: #333333;
}
